@import'./reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.header{
 padding: 31px 0 100px; 
 height: 800px;
 color: white;
 background-color: black;
 background-image: url('./../img/header/header-bg.jpg');
 background-size: cover;
 background-position: center;
 border-radius: 0 0 54px 54px;
}

.container{
  margin: 0 auto;
  min-width: 1440px;
  padding: 0 32px;
}

.container--header{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}